.summary {
  height: 40vh;
  width: 100%;
  max-height: 460px;
  padding-bottom: var(--spaceL);
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--mediaDesktop) {
    margin: 0;
  }

  @media (--mediaTablet) {
    height: auto;
    max-height: none;
    margin: var(--spaceL) 0;
  }

  @media (--mediaMobile) {
    padding-bottom: var(--spaceL);
    margin-bottom: 0;
  }

  &[data-first='true'] {
    margin-top: 0;

    @media (--mediaTablet) {
      margin-top: 0;
    }
  }
}

.content {
  --textColumnWidth: 36%;

  width: 100%;
  max-width: var(--maxWidthL);
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: var(--textColumnWidth) 1fr;
  grid-column-gap: var(--space2XL);

  @media (--mediaLaptop) {
    --textColumnWidth: 40%;
  }

  @media (--mediaTablet) {
    grid-template-columns: 100%;
    flex-direction: column-reverse;
    height: auto;
  }
}

.details {
  z-index: var(--zIndex1);
  position: relative;

  @media (--mediaTablet) {
    flex: 0 0 auto;
    max-width: 410px;
    grid-column: 1;
    justify-self: center;
  }
}

.index {
  position: relative;
  display: grid;
  grid-template-columns: 90px 1fr;
  gap: var(--spaceM);
  align-items: center;
  margin-bottom: var(--spaceXL);
}

.indexNumber {
  font-size: var(--fontSizeBodyS);
  font-weight: var(--fontWeightMedium);
  color: var(--primary);
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationM);
  transition-delay: 0.5s;

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    transform: translateX(calc(var(--spaceM) * -1));
  }

  &[data-visible='true'] {
    transform: translateX(0);
    opacity: 1;
  }
}

.title {
  margin-bottom: var(--spaceL);
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--durationM);
  opacity: 0;

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    transform: translate3d(0, var(--spaceL), 0);
  }

  &[data-visible='true'] {
    transform: none;
    opacity: 1;
  }
}

.description {
  margin-bottom: var(--spaceXL);
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--durationL);
  opacity: 0;

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    transform: translate3d(0, var(--spaceL), 0);
  }

  &[data-visible='true'] {
    transform: none;
    opacity: 1;
  }
}

.button {
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--durationXL);
  transform: translate3d(0, var(--spaceL), 0);
  opacity: 0;

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    transform: translate3d(0, var(--spaceL), 0);
  }

  &[data-visible='true'] {
    transform: none;
    opacity: 1;
  }
}
